SUPABASE_URL=https://apvedmflazqvhgcybjes.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFwdmVkbWZsYXpxdmhnY3liamVzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU0NjMzMjAsImV4cCI6MjA5MTAzOTMyMH0.5g_0frUQypx3XoPM6EhTuTC2vttxrmOsnb-3mzBTIMY
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFwdmVkbWZsYXpxdmhnY3liamVzIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NTQ2MzMyMCwiZXhwIjoyMDkxMDM5MzIwfQ.70CPjQEtQVRPADkjGo8HBJF8LVoK86flUBiburpiSwQ
SECRET_KEY=sb_secret_qFywOZ842uItXtAyCQt54Q_Coa-3pJf
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=1440
